{# all "showable pages by default #}
{% set pages = site.pages.showable %}
{# in case of a list page, take its sub pages #}
{% if page.pages is defined %}
    {%- set pages = page.pages -%}
{% endif %}
{# in case of a paginated list page, take the paginator list pages #}
{% if page.paginator.pages is defined %}
    {%- set pages = page.paginator.pages -%}
{% endif %}

{% extends '_default/page.html.twig' %}

      {%- block content ~%}
          <section>
              <h2>Espace {{ page.title }}</h2>
              <div class="container">
              {{- page.content ~}}
              {%- for p in pages|sort_by_weight ~%}
                  <article>
                                      <h3>{{ p.title }}</h3>
                                      <ul>
                                          {% include 'partials/subtitles-list.html.twig' with {'page': p, 'vocabulary': 'subtitles'} only %}
                                          </ul>
                  </article>
              {%- endfor ~%}
              </div>

{#              {%- include 'partials/paginator.html.twig' with {'page': page} only ~%}#}
          <footer>
              {%- set powered_by -%}
                  <a href="{{ cecil.url }}">Cecil</a> &amp; <a href="https://newcss.net">new.css</a>
              {%- endset ~%}
              <small>{% trans %}Powered by %powered_by%{% endtrans %}</small>
          </footer>
          </section>
      {%- endblock content ~%}