header {

  .title {
    display: flex;

    img {
      height: 57px;
      margin: 0;
    }
  }

  nav {
    position: absolute;
    bottom: 0;
  }

  .d-flex {

    .form-control {
      background-color: #f8f9fa1f !important;
      color: var(--nc-ac-tx);
    }

    .btn {
      color: var(--nc-ac-1) !important;
      border-color: var(--nc-ac-1) !important;
      height: fit-content;

      &:hover {
        background-color: var(--nc-ac-1) !important;
        color: var(--nc-bg-1) !important;
      }
    }
  }
}