@mixin lk-list {
  ul {
    list-style: none;
    padding: 0;

    li {
      border-radius: 5px;
      padding: 5px;
      margin: 10px 0;
      width: 80%;
      font-weight: 500;
      opacity: .8;

      &:hover {
        background-color: var(--nc-lk-bg);
        color: var(--nc-ac-tx);
        opacity: 1;
      }

      a:hover {
        color: var(--nc-ac-tx);
      }
    }
  }
}