body {
  overflow-y: hidden;
  height: 100vh;
  font-weight: 500;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar {
  width: 8px;
}
body ::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb {
  background: var(--nc-ac-1);
  border-radius: 5px;
}
body ::-webkit-scrollbar-thumb:hover {
  background: var(--nc-ac-2);
}
body .body_content {
  display: flex;
  height: 75vh;
  overflow-y: hidden;
}
body .body_content .main_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  padding: 25px 75px;
}
body .body_content .main_content img {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin: 50px auto;
}
body .body_content .main_content p {
  font-weight: 300;
}
body .body_content .main_content hr {
  margin: 50px 0;
}
body .body_content .main_content .news {
  padding: 15px 25px;
  background-color: var(--nc-transp-bg);
  border-radius: 10px;
  height: fit-content;
  overflow: hidden;
}
body .body_content .main_content .news ul {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .body_content .main_content .news ul li {
  width: 45%;
}
body .body_content .main_content .summary {
  display: flex;
  flex-wrap: wrap;
}
body .body_content .main_content .summary div {
  width: 25%;
}
body .body_content .main_content .summary div i {
  color: var(--nc-ac-1);
}
body .body_content .main_content .summary div h5 {
  font-size: 1.5rem;
}
body .body_content .main_content .summary div ul {
  list-style: none;
  padding: 0;
}
body .body_content .main_content .summary div ul li {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  width: 80%;
  font-weight: 500;
  opacity: 0.8;
}
body .body_content .main_content .summary div ul li:hover {
  background-color: var(--nc-lk-bg);
  color: var(--nc-ac-tx);
  opacity: 1;
}
body .body_content .main_content .summary div ul li a:hover {
  color: var(--nc-ac-tx);
}
body .body_content .main_content .accordion {
  background-color: transparent;
}
body .body_content .main_content .accordion .accordion-item {
  background-color: transparent;
}
body .body_content .main_content .accordion .accordion-item .accordion-button {
  color: var(--nc-tx-1);
  background-color: transparent;
  border-bottom: solid 0.5px var(--nc-hr-transp);
  font-size: 1.25rem;
}
body .body_content .main_content .accordion .accordion-item .accordion-button::after {
  background-color: var(--nc-transp-bg);
  padding: 15px;
  border-radius: 50%;
  background-position: center;
}
body .body_content .main_content .accordion .accordion-item ul li {
  margin: 10px 0;
}
body .body_content .main_content .accordion .accordion-item ul li p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body .body_content .main_content .accordion .accordion-item ul li p span {
  color: #f7b000;
  background-color: #4a3500;
  border-radius: 9999px;
  padding: 5px 10px;
  margin: 0 10px;
}
body .body_content .main_content .toast {
  background-color: var(--nc-toast);
  margin: 20px auto;
  width: fit-content;
}
body .body_content section {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 75px;
}
body .body_content section .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
body .body_content section .container article {
  width: 30%;
}
body .body_content section .container article ul {
  list-style: none;
  padding: 0;
}
body .body_content section .container article ul li {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  width: 80%;
  font-weight: 500;
  opacity: 0.8;
}
body .body_content section .container article ul li:hover {
  background-color: var(--nc-lk-bg);
  color: var(--nc-ac-tx);
  opacity: 1;
}
body .body_content section .container article ul li a:hover {
  color: var(--nc-ac-tx);
}

aside {
  background-color: var(--nc-bg-2);
  height: 100%;
  width: 250px;
  overflow-y: scroll;
  padding: 15px;
}
aside hr {
  border: 1px solid var(--nc-ac-tx);
}
aside h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
aside ul {
  padding-left: 10px;
}
aside ul li {
  list-style: none;
  font-size: 15px;
}
aside ul li a {
  text-decoration: none;
  font-weight: 500;
}
aside ul li a:hover {
  color: var(--nc-ac-1);
}
aside ul .subtitle {
  font-size: 15px;
}
aside ul .subtitle a {
  text-decoration: none;
  color: var(--nc-miniLink);
  font-weight: 400;
}
aside ul .subtitle a:hover {
  color: var(--nc-ac-1);
}

header .title {
  display: flex;
}
header .title img {
  height: 57px;
  margin: 0;
}
header nav {
  position: absolute;
  bottom: 0;
}
header .d-flex .form-control {
  background-color: rgba(248, 249, 250, 0.1215686275) !important;
  color: var(--nc-ac-tx);
}
header .d-flex .btn {
  color: var(--nc-ac-1) !important;
  border-color: var(--nc-ac-1) !important;
  height: fit-content;
}
header .d-flex .btn:hover {
  background-color: var(--nc-ac-1) !important;
  color: var(--nc-bg-1) !important;
}

/*# sourceMappingURL=style.css.map */
